/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/v3.0.18)
/v1.30.0)
/v2.5.6)
/v2.4.2)
/composer.phar
/LICENSE
/phpunit.xml.dist
/loading
/purging
/composer.lock
/php
.idea/