{% extends "::base.html.twig" %}
{% block body %}
    <h1>Admin panel.</h1>
    <h2>All posts</h2>

    <div id="app">
        <button @click="getBack">Обратно.</button>
        <button @click="update">Обновить.</button>
        <button @click="getNext"> Туда.</button>
        <p>
        <h2>Page: {{ "{{ currentPage }}" }}.</h2></p>
        <hr>
        <div v-html="posts"></div>
    </div>

{% endblock %}

{% block   javascripts %}

    <script type="text/javascript">
        var apiURL = "http://127.0.0.1:8000{{ path('admin_get_json') }}";
        function countPage() {
            app.currentPage += 1;
        }
        function substractionPage() {
            app.currentPage > 0 ? app.currentPage -= 1 : 1;
        }

        var app = new Vue({
            el: '#app',
            data: {
                /*@type json*/
                posts: null,
                test: null,
                /*@type int */
                currentPage: 1,
                maxPage: {{ maxPages }}
            },
            methods: {
                getJSONText: function () {
                    $.getJSON("http://127.0.0.1:8000/admin/posts/" + this.currentPage,
                        function (json) {
                            app.posts = json;
                        });
                },
                getTest: function () {
                    $.getJSON("http://127.0.0.1:8000/admin/test", function (json) {
                        app.test = json;
                    });
                },
                getNext: function () {
                    if (this.currentPage < this.maxPage) {
                        this.currentPage += 1;
                        this.getJSONText();
                    }

                },
                getBack: function () {
                    //this.currentPage -= 1;
                    if (this.currentPage > 1) {
                        this.currentPage -= 1;
                        this.getJSONText();
                    }
                },
                update: function () {
                    this.getJSONText();
                }
            },
            created: function () {
                this.getJSONText();
            }


        });

    </script>
{% endblock %}