<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"
              integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
        <link rel="stylesheet" href='{{ asset( 'default/css/blog.css') }}'>
        <link href="default/css/blog.css" rel="stylesheet">
    {% endblock %}


 {#   <style>
        table {
            border: 4px double black; /* Параметры границы */
            background: #CCCCCC; /* Цвет фона */
            padding: 10px; /* Поля вокруг текста */
        }

        .go {
            border: none;
        }

        ul.default li {
            list-style-type: none;
            border: 2px solid #42b983; /* Убираем маркеры */
            margin: 5px;
            border-radius: 3px;
            background-color: #fff;
        }

        ul.button_default li {
            display: inline; /* Отображать как строчный элемент */
        }

        .post {
            margin: 10px;
        }

        .post_title {

            background: rgba(66, 185, 131, 0.5);
        }

        button {
            background: #42b983;
            background-image: -webkit-linear-gradient(top, #42b983, #42b983);
            background-image: -moz-linear-gradient(top, #42b983, #42b983);
            background-image: -ms-linear-gradient(top, #42b983, #42b983);
            background-image: -o-linear-gradient(top, #42b983, #42b983);
            background-image: linear-gradient(to bottom, #42b983, #42b983);

            border-radius: 2px;
            font-family: Arial;
            color: #ffffff;
            font-size: 15px;
            background: #42b983;
            padding: 10px 20px 10px 20px;
            border: solid #71c9a0 0px;
            text-decoration: none;
        }

        button:hover {
            background: #3cb0fd;
            text-decoration: none;
        }


    </style>#}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
