{% extends '::base.html.twig' %}
{% block body %}
    {{ render(controller('FOSUserBundle:Security:login')) }}

    <p>
        Я не могу в верстку и стили.
    </p>


    <div>
        <h2>What's next?</h2>
        <a href="{{ path('post_index') }}">Просмотреть все посты.</a>
    </div>

    <h3>Написать свой.</h3>
    {{ render(controller('PostsBundle:Post:new')) }}
{% endblock %}


