{% block body %}
    <h2>Subjects</h2>
    {% if subjects is not null %}
        {% for subj in subjects %}
            <h3><a href="{{ path('subject', { 'subj': subj.subjName}) }}">{{ subj.subjName }}</a></h3>
        {% endfor %}
    {% endif %}
{% endblock %}